
<footer>
  <div class="footer-content-box container">
    <small>© ABDULQADIR ABUHARRUS 2024</small>
  </div>
  <div class="container">
    <ul id="footer-list">
      <li><a href="/about">About</a></li>
      |
      <li><a href="https://github.com/Abdo-Abuharrus211">GitHub</a></li>
      |
      <li><a href="">Docs</a></li>
      |
      <li><a href="#" class="contact-trigger">Contact</a></li>
    </ul>
  </div>
</footer>

<!-- <footer>
    <section id="footer-about">
      <p>Links</p>
      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="https://github.com/Abdo-Abuharrus211/AR-web-app">Github</a>
        </li>
      </ul>
    </section>
    <section id="footer-contact">
      <p>Contact</p>
    </section>
  </footer> -->