<footer>
    <section id="footer-about">
      <p>Links</p>
    </section>
    <section id="footer-contact">
      <p>Contact</p>
    </section>
  </footer>

  
  <!-- <footer>
    <section id="footer-about">
      <p>About</p>
    </section>
    <section>
      <p>Navigation</p>
    </section>
    <section id="footer-docs">
      <p>Docs</p>
    </section>
    <section>
      <p>
        Donate
      </p>
    </section>
    <section id="footer-contact">
      <p>Contact</p>
    </section>
  </footer> -->