<footer>
    <section id="footer-about">
      <p>Links</p>
      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="https://github.com/Abdo-Abuharrus211/AR-web-app">Github</a>
        </li>
      </ul>
    </section>
    <section id="footer-contact">
      <p>Contact</p>
    </section>
  </footer>

  
  <!-- <footer>
    <section id="footer-about">
      <p>About</p>
    </section>
    <section>
      <p>Navigation</p>
    </section>
    <section id="footer-docs">
      <p>Docs</p>
    </section>
    <section>
      <p>
        Donate
      </p>
    </section>
    <section id="footer-contact">
      <p>Contact</p>
    </section>
  </footer> -->