<header class="generic-header">
  <nav>
    <ul>
      <li>
        <a href="/" class="navbar-logo">AudioReaper</a>
      </li>
    </ul>
    <ul>
      <li><a href="/about" class="secondary navbar-link" ;">About</a></li>
      <li><a href="/contact" class="secondary navbar-link">Contact</a></li>
    </ul>
  </nav>
</header>