<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="styles/styles.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%-include('partials/header') %>


        <div class="container main">
                <hgroup>
                    <h1>Oh No!!!</h1>
                    <p>You've wound up in <em>Never-Never land</em>, not even AudioReaper dwells here</p>
                </hgroup>
                <button id="return-btn" class="contrast">Go Back!</button>
            </div>
    <%-include('partials/footer') %>
    <script>
        document.getElementById('return-btn').addEventListener("click", ()=>{
            console.log("Boib")
            window.location = ("/");
        })
    </script>
</body>
</html>