<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

<body>
    <%- include ('partials/header') %>
        <dialog id="contact-modal" class="hidden" open>
            <article>
                <header>
                    <button id="close-contact-modal" aria-label="Close" rel="prev"></button>
                    <h2>Contact Us</h2>
                    <p>If you have any questions or concerns, please fill out the form below.</p>
                </header>
                <form>
                    <label for="name">Your Name:</label>
                    <input type="text" id="name" name="name" required>
                    <label for="email">Your Email:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
                    <button type="submit" class="outline">Send Message</button>
                </form>
            </article>
        </dialog>

        <div class="container">
            <hgroup class="about-header">
                <h1>What's AudioReaper?</h1>
                <small>It's a Web App that syncs your PC's local music library with your Spotify account.</small>
            </hgroup>
        </div>

        <main>
            <div id="about-section" class="main container">
                <hgroup>
                    <h2>The Story</h2>
                    <small>How it came to be...</small>
                </hgroup>
                <article class="story-card">
                    <div class="story-div">
                        <img class="idea-img" src="images/project draft.jpg" alt="Drafting the idea">
                        <p>
                            Project AudioReaper, now just <em>'AudioReaper'</em> started life as a simple Python script.
                        </p>
                        <p>
                            One evening, I was out with friends talking about our music collections, how extensive
                            our local libraries have become, and how it'd be nice to 'sync' them with our Spotify
                            accounts as that's now the most common way
                            people listen to music, even on PC.
                        </p>
                        <p>
                            Initially, AudioReaper simply read MP3 metadata and searched for matching tracks on Spotify,
                            but I quickly noticed that most MP3 files had incorrect or missing data tags. <br>
                            To fix this, I resorted to how I (a totally real person) identify a track, by reading the
                            file name! <br> Thanks to Natural
                            Language Processing (NLP) and Large Language Models (LLMs) I was able to implement a feature
                            to extract the data from the file names when tags were insufficient.
                        </p>
                        <p>
                            So in November of 2023, I started working on the program as a project for personal use and
                            self-development, and to share it with friends. <br>
                            Several months later, a friend suggested turning it into a Web app as others might like
                            something like this.
                        </p>
                        <p>So I embarked on developing this Web app slowly as I had other obligations that demanded most
                            of my energy, and this project's scope grew immensely afterward.</p>
                        <p>Finally, AudioReaper is deployed.
                            <br>It's not perfect but it's certainly <b>Done!</b>
                        </p>
                    </div>
                </article>
            </div>
        </main>

        <dialog id="privacy-policy-modal" class="hidden" open>
            <article>
                <header>
                    <button id="close-privacy-modal" aria-label="Close" rel="prev"></button>
                    <h2>Privacy Policy for AudioReaper</h2>
                    <p>Last Updated: 02/07/2024</p>
                </header>
                <ol type="1">
                    <li>
                        <span><b>Introduction</b></span><br>
                        Welcome to AudioReaper. This privacy policy explains our practices concerning the privacy of our
                        visitors and
                        users when using our software, which is designed as a personal project to showcase, grow, and
                        improve skills
                        in software development.
                    </li>
                    <li>
                        <span><b>Information We Collect Temporarily</b></span><br>
                        AudioReaper temporarily stores data such as access tokens and usernames in the backend session
                        to facilitate
                        the current user session. This data is strictly used to enhance user experience and is not used
                        for any other
                        purposes. All session data is wiped automatically at the end of the session and is not
                        permanently stored
                        anywhere.
                    </li>
                    <li>
                        <span><b>Spotify API Interaction</b></span><br>
                        AudioReaper uses the Spotify API to access and modify your Spotify playlists, but only in ways
                        you have
                        authorized. This may include reading your playlists and adding new songs to them. We do not
                        access or alter
                        any other aspects of your Spotify account. Your interaction with Spotify through our application
                        is governed
                        by the permissions you grant during the login process with Spotify.
                    </li>
                    <li>
                        <span><b>Use of Your Information</b></span><br>
                        Since no personal information is permanently collected or stored, there is no further use of
                        such information
                        beyond the current session.
                    </li>
                    <li>
                        <span><b>Data Protection</b></span><br>
                        We take precautions to ensure that any operations within the software and any temporary storage
                        of data do not
                        compromise the security of your device or any information therein.
                    </li>
                    <li>
                        <span><b>Changes to Our Privacy Policy</b></span><br>
                        We may update this Privacy Policy from time to time. We encourage you to review this Privacy
                        Policy
                        periodically.
                    </li>
                    <li>
                        <span><b>Contact Us</b></span><br>
                        If you have any questions about this Privacy Policy, please contact us.
                    </li>
                </ol>
            </article>
        </dialog>

        <dialog id="terms-modal" class="hidden" open>
            <article>
                <header>
                    <button id="close-terms-modal" aria-label="Close" rel="prev"></button>
                    <h2>Terms and Conditions for AudioReaper</h2>
                    <p>Last Updated: 02/07/2024</p>
                </header>
                <ol type="1">
                    <li>
                        <span><b>Introduction</b></span><br>
                        These Terms and Conditions govern the use of AudioReaper, a software application designed to
                        showcase skills
                        in music metadata processing. By using AudioReaper, you agree to these terms and conditions in
                        full. If you
                        disagree with these terms and conditions or any part of these terms and conditions, you must not
                        use this
                        software.
                    </li>
                    <li>
                        <span><b>License to Use</b></span><br>
                        We grant you a non-exclusive, non-transferable, revocable license to use AudioReaper strictly in
                        under
                        with these terms. AudioReaper is provided for personal, non-commercial use only.
                    </li>
                    <li>
                        <span><b>Acceptable Use</b></span><br>
                        You must not use AudioReaper in any way that causes, or may cause, damage to the application or
                        impairment of
                        the availability or accessibility of the service; or in any way that is unlawful, illegal,
                        fraudulent, or
                        harmful.
                    </li>
                    <li>
                        <span><b>User Accounts</b></span><br>
                        Since AudioReaper does not permanently store user data, no user accounts are maintained beyond
                        active
                        sessions. Temporary session data is automatically wiped after the session ends.
                    </li>
                    <li>
                        <span><b>Intellectual Property</b></span><br>
                        <ol type="I">
                            <li>
                                <span><b>Ownership and Rights</b></span><br>
                                All intellectual property rights in the software, its design, processes, and user
                                interfaces along with
                                any
                                proprietary code developed for AudioReaper belong exclusively to [Your Name/Company
                                Name] unless otherwise
                                specified. These rights are protected under national and international intellectual
                                property laws.
                            </li>
                            <li>
                                <span><b>Third-Party Intellectual Property</b></span><br>
                                AudioReaper incorporates material such as open-source libraries and third-party artworks
                                that are freely
                                available and properly credited within the application. This material remains the
                                intellectual property of
                                their respective owners. AudioReaper respects these rights and acknowledges that the use
                                of such material
                                is governed by their respective licenses. We do not claim ownership over any third-party
                                intellectual
                                property used in the application.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <span><b>Third-Party Services</b></span><br>
                        AudioReaper utilizes the Spotify API and other open-source libraries and technologies to enhance
                        functionality. The use of Spotify is governed by Spotify's own Terms of Service and Privacy
                        Policy, which you
                        agree to adhere to by using those features within AudioReaper. We do not claim any ownership
                        over the data
                        provided by Spotify or other third-party services. Additionally, while AudioReaper uses
                        open-source
                        components, their use is governed by their respective licenses, and we acknowledge and respect
                        all such legal
                        requirements.
                    </li>
                    <li>
                        <span><b>Limitations of Liability</b></span><br>
                        ABDULQADIR ABUHARRUS will not be liable for any direct, indirect, or consequential loss or
                        damage arising
                        under these terms and conditions in connection with your use of AudioReaper.
                    </li>
                    <li>
                        <span><b>Changes to Terms and Conditions</b></span><br>
                        We reserve the right to revise these terms and conditions from time to time. Please check this
                        page regularly
                        to ensure you are familiar with the current version.
                    </li>
                    <li>
                        <span><b>Severability</b></span><br>
                        If a provision of these terms and conditions is determined by any court or other competent
                        authority to be
                        unlawful and/or unenforceable, the other provisions will continue in effect.
                    </li>
                    <li>
                        <span><b>Entire Agreement</b></span><br>
                        These terms and conditions, together with the Privacy Policy, constitute the entire agreement
                        between you and
                        ABDULQADIR ABUHARRUS in relation to your use of AudioReaper.
                    </li>
                    <li>
                        <span><b>Contact Us</b></span><br>
                        For any questions about these Terms and Conditions, please contact us.
                    </li>
                </ol>
            </article>
        </dialog>
        <%- include ('partials/footer') %>
            <script type="module" src="scripts/contact.js"></script>
            <script type="module" src="scripts/privacyAndTerms.js"></script>
</body>

</html>