<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AudioReaper</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <link rel="stylesheet" href="styles/styles.css">
  <!-- jsmediatags CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmediatags/3.9.5/jsmediatags.min.js"></script>
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/" class="navbar-logo">AudioReaper</a>
        </li>
      </ul>
      <ul>
        <li><a href="#" class="secondary navbar-link" ;">About</a></li>
        <li><a href="/contact" class="secondary navbar-link">Contact</a></li>
      </ul>
    </nav>
    <div class="container banner">

    </div>

  </header>

  <div class="about-section container-fluid">
    <div class="container">
      <p>AudioReaper will harvest your music...blah blah</p>
    </div>
  </div>

  <div class="container main">
    <div id="drop-zone" class="folder-not-added">
      <p>Drag and drop a folder or click</p>
      <input type="file" id="folderInput" multiple accept="audio/mp3" webkitdirectory directory style="display:none">
      <button onclick="document.getElementById('folderInput').click();">Browse...</button>
    </div>
    <div class="container form-box">
      <input id="playlist-input" type="text" class="playlist-form" name="playlistName" placeholder="Playlist name..."
        aria-label="playlistName">
      <button id="harvest-btn" disabled="true" onclick="harvest(event);">Harvest!</button>
    </div>
  </div>

  <!-- /////////////////////////////// -->
  <div class=" container disclaimer-box">
    <p>
      Here lies the diclaimer that this program isn't perfect
    </p>
  </div>

  <div class="fail-log">

  </div>


  <footer>
    <section id="footer-about">
      <p>About</p>
    </section>
    <section id="footer-docs">
      <p>Docs</p>
    </section id="footer-contact">
    <section>
      <p>Contact</p>
    </section>
  </footer>
  <!-- My scripts -->
  <script type="module" src="scripts/index.js"></script>
  <script type="module" src="scripts/fileIO.js"></script>
  <script type="module" src="scripts/metadata.js"></script>
</body>

</html>