<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AudioReaper</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <link rel="stylesheet" href="styles/styles.css">
  <!-- jsmediatags CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmediatags/3.9.5/jsmediatags.min.js"></script>
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

  <header style="padding-top: 0;">
    <div class="banner container-fluid">
      <img src="/images/pexels-tuesday-temptation-190692-3780104.jpg" alt="Banner Image" class="banner-image">
      <nav>
        <ul>
          <li>
            <a href="/" class="navbar-logo">AudioReaper</a>
          </li>
        </ul>
        <ul>
          <li><a href="/about" class="secondary navbar-link" ;">About</a></li>
          <li><a href="#" class="secondary navbar-link contact-trigger">Contact</a></li>
        </ul>
      </nav>
      <div class="banner-text">Bridge your Local library with your Spotify!</div>
    </div>
  </header>



  <div class="how-section main container">
    <hgroup>
      <h3>How it Works</h3>
      <p>It's really simple!</p>
      <article id="instructions">
        <ol type="1">
          <li>Log into Spotify</li>
          <li>Upload a folder containing MP3 or WAV files (100 or less for best results).</li>
          <li>Enter the name of a new playlist or an existing Spotify playlist.</li>
          <li>Hit 'Harvest' and let it do its thing.</li>
          <li>AudioReaper will then try adding your tracks to the specified playlist.</li>
        </ol>
      </article>
    </hgroup>
    <div class="container">
      <p>Scroll down to get started.</p>
    </div>
  </div>

  <!-- <div class="container user-box main">
    <div>
      <label data-tooltip="AudioReaper needs your account info to add songs to your specified playlist." for="login-btn"
        id="login-label">Please log into Spotify.</label>
      <p id="user-name" class="hidden"></p>
      <button id="login-btn" class="outline contrast login-button">
        <img src="/images/Spotify_Primary_Logo_RGB_Green.png" alt="Spotify logo">
        Log in
      </button>
      <button id="logout-btn" class="outline contrast logout-button" hidden>
        <img src="/images/Spotify_Primary_Logo_RGB_Green.png" alt="Spotify logo">
        Log Out
      </button>
    </div>
  </div> -->

  <dialog id="contact-modal" class="hidden" open>
    <article>
      <header>
        <button id="close-contact-modal" aria-label="Close" rel="prev"></button>
        <h2>Contact Us</h2>
        <p>If you have any questions or concerns, please fill out the form below.</p>
      </header>
      <form>
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
        <button type="submit" class="outline">Send Message</button>
    </form>
    </article>
  </dialog>

  <div class="container main">
    <div class="container user-box main">
      <label data-tooltip="AudioReaper needs your account info to add songs to your specified playlist." for="login-btn"
        id="login-label">Please log into Spotify.</label>
      <p id="user-name" class="hidden"></p>
      <button id="login-btn" class="outline contrast login-button">
        <img src="/images/Spotify_Primary_Logo_RGB_Green.png" alt="Spotify logo">
        Log in
      </button>
      <button id="logout-btn" class="outline contrast logout-button" hidden>
        <img src="/images/Spotify_Primary_Logo_RGB_Green.png" alt="Spotify logo">
        Log Out
      </button>
    </div>
    <div id="drop-zone" class="folder-not-added">
      <p id="folder-name" class="hidden"></p>
      <p>Drag and drop a folder or select</p>
      <input type="file" id="folderInput" multiple accept="audio/mp3" webkitdirectory directory style="display:none">
      <button onclick="document.getElementById('folderInput').click();">Browse...</button>
    </div>
    <div class="container form-box">
      <input id="playlist-input" type="text" class="playlist-form" name="playlistName" placeholder="Playlist name..."
        aria-label="playlistName">
      <button id="harvest-btn" class="outline" disabled="true">Harvest!</button>
      <form>
        <!-- loading animation -->
        <dialog id="loadingIndicator" class="hidden" open>
          <article class="loading-card">
            <h4>AudioReaper is processing your library!</h4>
            <div class="loader"></div>
          </article>
        </dialog>
    </div>
  </div>

  <div class="container disclaimer-box main">
    <p id="disclaimerToggle">Disclaimer</p>
    <div id="disclaimerText" class="hidden">
      AudioReaper relies on NLP and Spotify's API, so results may be inconsistent at times.
      We're working on ways to achieve better results, whether that's by streamlining data-processing or improving
      matching algorithms.
    </div>
  </div>


  <div id="failBox" class="main container hidden">
    <hgroup>
      <h4>Failed Tracks</h4>
      <p>Tracks AudioReaper couldn't add to Spotify.</p>
    </hgroup>
    <article id="failedTracks">
      <ul id="failedTracks-list">

      </ul>
    </article>
  </div>


  <%- include('partials/footer') %>
    <!-- My scripts -->
    <script type="module" src="scripts/index.js"></script>
    <script type="module" src="scripts/contact.js"></script>
    <script type="module" src="scripts/fileIO.js"></script>
    <script type="module" src="scripts/metadata.js"></script>
</body>

</html>