body {
    min-height: 100vh;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
}

/* Color theme */
header {
    margin: 0 5% 5%;
    padding: 0 0;
}

nav {
    margin: 0 3%;
}

nav a {
    margin: 0 2%;
    text-decoration: none;
}

.navbar-logo {
    font-size: 2rem;
    color: blueviolet;
}

.navbar-link:hover {
    color: brown;
}


.about-section {
    padding: 5%;
    margin: 3% auto;
    text-align: center;
}

.user-box label{
    margin-right: 65%;
}
.login-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* border: solid 1px #1DB954; Spotify Green */
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .login-button img {
    width: 24px; /* Adjust size as necessary */
    height: auto;
    margin-right: 8px; /* Space between the logo and the text */
  }
  


#drop-zone {
    margin: 2% 10%;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}


#drop-zone:hover {
    background-color: #f8f9fa;
}

.folder-not-added{
    color: #007bff;
    border: 2px dashed #007bff;
}
.folder-added {
    color: #88FF88;
    border: 2px solid #88FF88;
}
.wrong-file-types{
    color: #cc0000;
    border: 2px solid #cc0000;
}


.main {
    padding: 2%;
    margin: 5% auto;
}

.form-box{
    margin-left: 10%;
    width: 50%;
    display: flex;
    align-items: center;
}
.playlist-form{
    width: 40%;
    margin: 3% auto;
}
#harvest-btn{
    margin: 5%;
}





.disclaimer-box{
    margin: auto;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }
}